@import '../../app/App.styles.scss';

.main {
  background-color: $primary-violet;
  background-image: url('../../images/bg-shorten-desktop.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 15rem;
  margin: 8rem auto;
  padding: 0 6rem;
  position: relative;
  width: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;

  .input {
    border: none;
    border-radius: 0.5rem;
    caret-color: $primary-violet;
    color: $primary-violet;
    font-family: 'Poppins', sans-serif;
    outline: none;
    padding: 1rem 2rem;
    width: 80%;

    &::placeholder {
      color: $gray;
    }
  }
}