@import '../../app/App.styles.scss';

.container {
  display: flex;
  justify-content: space-between;
  width: 18%;

  @include l-mobile {
    width: 30%;
  }

  svg {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all 0.3s;

    @include m-tablet {
      font-size: 2rem;
    }

    @include l-mobile {
      font-size: 2.5rem;
    }

    &:hover {
      color: hsl(180, 66%, 49%);
    }
  }
}