@import '../../app/App.styles.scss';

.container {
  display: flex;
  justify-content: space-between;
  width: 18%;

  svg {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all 0.3s;

    &:hover {
      color: hsl(180, 66%, 49%);
    }
  }
}