@import '../../app/App.styles.scss';

.footer {
  background-color: $dark-violet;
  padding: 6rem $global-left-right-p;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include l-tablet {
    padding: 6rem calc(#{$global-left-right-p} - 4rem);
  }

  @include m-tablet {
    padding: 6rem calc(#{$global-left-right-p} - 6rem);
  }

  .img {
    @include m-tablet {
      width: 10rem;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 70%;

    @include l-tablet {
      width: 80%;
    }
  }
}