@import '../../app/App.styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  padding: $global-top-bottom-p $global-left-right-p;
  width: 100%;

  @include s-desktop {
    margin-bottom: 4rem;
  }

  @include l-tablet {
    padding: $global-top-bottom-p calc(#{$global-left-right-p} - 4rem);
  }

  @include m-tablet {
    padding: $global-top-bottom-p calc(#{$global-left-right-p} - 6rem);
    margin-bottom: 2rem;
  }

  .panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 35%;

    .img {
      margin-right: 5rem;

      @include m-tablet {
        width: 10rem;
      }
    }
  }

  .navbar {
    a {
      color: $grayish-violet;
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
      transition: color 0.5s;

      &:hover {
        color: $dark-violet;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}
