@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.signup {
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.signup-form {
  top: 10rem;
}

.feature-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 55vw;
  top: 28rem;
  background-image: url('../images/bg-curvy-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

@media (min-width: 1440px) {
  .feature-wrapper::before {
    position: absolute;
    background-image: url('../images/bg-curvy-desktop.svg');
    left: 0;
    width: 100%;
    top: 15rem;
    background-size: cover;
    z-index: 0;
  }
}

.hero > * {
  position: relative;
  z-index: 1;
}

.feature-wrapper > * {
  position: relative;
}
