@import '../../app/App.styles.scss';

.features {
  background-color: $light-gray;
  margin: 0 auto;
  padding: 0 $global-left-right-p 30rem $global-left-right-p;
  text-align: center;
  width: 100%;
  z-index: 100;

  @include l-tablet {
    padding: 0 calc(#{$global-left-right-p} - 4rem) 30rem
      calc(#{$global-left-right-p} - 4rem);
  }

  @include m-tablet {
    padding: 0 calc(#{$global-left-right-p} - 6rem) 30rem
    calc(#{$global-left-right-p} - 6rem);
  }

  @include l-mobile {
    padding: 0 calc(#{$global-left-right-p} - 8rem) 30rem calc(#{$global-left-right-p} - 8rem);
  }

  .title {
    color: $dark-violet;
    font-size: 3rem;
    margin: 0 auto;
    width: 52rem;

    @include m-tablet {
      font-size: 2.5rem;
    }

    @include l-mobile {
      font-size: 3rem;
    }
  }

  .text {
    color: $grayish-violet;
    margin: 0 auto;
    width: 52rem;

    @include m-tablet {
      font-size: 1.6rem;
      width: 45rem;
    }
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;

    @include l-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
