.wrapper {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 6rem 3rem 4rem 3rem;

  @include sm {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  @include md {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  @include lg {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 8rem;
  }

  @include xl {
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 12rem;
  }

  @include xxl {
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top: 14rem;
  }
}
