@import '../../app/App.styles.scss';

.hero {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: $global-top-bottom-p $global-left-right-p;
  width: 100%;

  @include m-desktop {
    padding: 0 $global-left-right-p $global-top-bottom-p;
  }

  @include l-tablet {
    padding: 0 calc(#{$global-left-right-p} - 4rem) $global-top-bottom-p;
  }

  @include m-tablet {
    padding: 0 calc(#{$global-left-right-p} - 6rem) $global-top-bottom-p;
  }

  @include l-mobile {
    padding: 0 calc(#{$global-left-right-p} - 8rem) $global-top-bottom-p;
  }

  .heroDescription {
    width: 60%;
  }

  .heroTitle {
    color: $dark-violet;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1.2;

    @include m-desktop {
      font-size: 5rem;
    }

    @include s-desktop {
      font-size: 4rem;
    }

    @include m-tablet {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
  }

  .heroText {
    color: $grayish-violet;
    margin-bottom: 2rem;

    @include s-desktop {
      font-size: 1.6rem;
    }

    @include m-tablet {
      font-size: 1.4rem;
    }
  }

  .heroImg {
    position: relative;
    right: -22rem;

    @include m-desktop {
      width: 70rem;
    }

    @include s-desktop {
      width: 65rem;
    }

    @include l-tablet {
      width: 55rem;
      right: -15rem;
    }

    @include m-tablet {
      width: 40rem;
      right: -10rem;
    }
  }
}
