@import '../../app/App.styles.scss';

.column {
  .title {
    color: #ffffff;
    margin-bottom: 2rem;

    @include l-mobile {
      font-size: 1.8rem;
    }
  }

  .list {
    color: $gray;
    cursor: pointer;
    font-size: 1.5rem;
    list-style-type: none;

    @include m-tablet {
      font-size: 1.3rem;
    }

    @include l-mobile {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }

    li {
      transition: all 0.3s;
      margin-bottom: 1rem;

      &:hover {
        color: $primary-cyan;
      }
    }
  }
}
