@import '../../app/App.styles.scss';

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0 4rem;
  text-align: left;
  height: 25rem;
  width: 60%;

  @include s-desktop {
    height: 27rem;
  }

  @include l-tablet {
    height: 23rem;
    padding: 0 3rem;
    width: 55%;
  }

  @include m-tablet {
    height: 25rem;
    padding: 0 2.5rem;
    width: 60%;
  }

  @include l-mobile {
    padding: 0 3rem;
    text-align: center;
    position: relative;
    z-index: 99;
  }

  .imgWrapper {
    display: flex;
    background-color: $primary-violet;
    border-radius: 100%;
    text-align: center;
    height: 7rem;
    width: 7rem;
    position: relative;
    top: -3rem;

    @include l-tablet {
      height: 5rem;
      width: 5rem;
      top: -2.5rem;
      margin-bottom: -1rem;
    }

    @include l-mobile {
      margin: 0 auto;
      height: 7rem;
      width: 7rem;
      top: -3rem;
    }

    .img {
      margin: auto;
      height: 3.2rem;
      width: 3.2rem;

      @include l-tablet {
        height: 2.8rem;
        width: 2.8rem;
      }

      @include l-mobile {
        height: 3.2rem;
        width: 3.2rem;
      }
    }
  }

  .title {
    color: $dark-violet;
    font-size: 2rem;
    margin-bottom: 1.5rem;

    @include l-tablet {
      font-size: 1.8rem;
    }

    @include m-tablet {
      font-size: 1.6rem;
    }

    @include l-mobile {
      font-size: 2.2rem;
    }
  }

  .text {
    color: $grayish-violet;
    font-size: 1.5rem;

    @include l-tablet {
      font-size: 1.4rem;
    }

    @include m-tablet {
      font-size: 1.3rem;
    }

    @include l-mobile {
      font-size: 1.5rem;
    }
  }
}
